<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
    <!--The is File Appender -->
    <Appenders>
        <!--The is File Location -->
        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout>
                <!--The is Log Pattern -->
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
</Appenders>


    <!--This is File-->
    <Loggers>
        <!--All Level Include-->
        <Root level="all">
            <AppenderRef ref="MyFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
